apiVersion: v1
kind: Service
metadata:
  name: {{ include "fdp.fullname" . }}-mongodb
  labels:
    {{- include "fdp.labels" . | nindent 4 }}
    app.kubernetes.io/component: database
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 27017
      targetPort: 27017
      name: mongodb
  selector:
    {{- include "fdp.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: database