apiVersion: v1
kind: Secret
metadata:
  name: {{ include "fdp.fullname" . }}-secrets
  labels:
    {{- include "fdp.labels" . | nindent 4 }}
type: Opaque
data:
  JWT_SECRET_KEY: {{ .Values.server.jwt.secretKey | b64enc | quote }}
  MONGODB_ROOT_USERNAME: {{ .Values.mongodb.auth.rootUser | b64enc | quote }}
  MONGODB_ROOT_PASSWORD: {{ .Values.mongodb.auth.rootPassword | b64enc | quote }}
  MONGODB_DATABASE: {{ .Values.mongodb.auth.database | b64enc | quote }}
  GRAPHDB_USERNAME: {{ .Values.graphdb.admin.username | b64enc | quote }}
  GRAPHDB_PASSWORD: {{ .Values.graphdb.admin.password | b64enc | quote }}
  GRAPHDB_REPOSITORY_ID: {{ .Values.graphdb.repository.id | b64enc | quote }}